body{
    font-family: Arial, sans-serif;
    color: rgb(27, 27, 27);
    background-color:brown;
}

h1{
    font-size: 2.5em;
}


h1, h2, h3, h4, h5, h6 {
    color:rgb(224, 9, 9);
}

ol {
    color: rgb(18, 17, 17);
}




h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1.5em;
}

ol {
    margin-top: 1em;
    margin-bottom: 1.5em;
    list-style-type: decimal;
    padding-left: 2em;
}

img{
    display:absolute;
    margin: 0;
    width: 70%;
    height: 850px;
    border-radius: 50px;
    
}




body{
    background-color:pink;
}


.top-right{
    position: absolute;
    top: 0;
    right: 0;
}

.center-text{
    text-align: center;
}
    
.text-align{
    text-align: right;
}

.align{
    display: flex;

    flex-direction: row;
    justify-content: center;
}
